#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include <time.h>
void shape(char shapeName[10]){

int i,j;

int lenght=strlen(shapeName);

for(i=0; i<5;i++){
    for (j = 0; j < 20; j++)
    {
        
        if (!(i==0 || i == 4) && (j>=1 && j < 19))
        {
            if (i==2 && j > 18-lenght)
            {
                continue;
            }
            else
            {
              printf(" ");  
            }
            
            
            
        }
            else
            {
                printf("#");
            } 

/*
        if (i==2 && j == 18 - lenght)
        {
            printf("#");
        }
*/
        if (i==2 && j >= 6 && j<7)
        {
            system("color 04");
           printf("%s",shapeName);
        }     
        
    }
    
    printf("\n");
    
}        

}



int main(){
/*
char shapeName[10]={};

printf("Girmek istedğiniz kelime: ");
scanf("%s",shapeName);

system("clear");
*/

shape("Welcome");
}
 
 
 
   return 0;
}

